<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            Hello, {{user.username}}
            <a href="{% url 'logout' %}">Logout</a>
            {%else%}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>
            {%endif%}
        </nav>
    </header>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if not projects%}
            <p>You are not assigned to any projects</p>
            {%endif%}
            {%if projects%}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td><a href="{% url 'show_project' project.id %}"></a>{{project.name}}</td>
                        <td>{{project.tasks.all|length}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
                </table>
            {%endif%}
        </div>
    </main>
</body>
</html>
